<div class="container-fluid container-md">
  <div class="card text-dark bg-light mb-3" style="margin-top: 2%;">
    <div class="card-body">
      <figure class="text-center">
        <h3>Información</h3>
      </figure>
      <table class="table">
        <tbody>
          <tr>
            <th>Argumentos de entrada</th>
            <td>{{info.inputArgs}}</td>
          </tr>
          <tr>
            <th>Nombre de la plataforma (sistema operativo)</th>
            <td>{{info.platform}}</td>
          </tr>
          <tr>
            <th>Versión de node.js </th>
            <td>{{info.nodeVersion}}</td>
          </tr>
          <tr>
            <th>Memoria total reservada (rss)</th>
            <td>{{info.rss}}</td>
          </tr>
          <tr>
            <th>Path de ejecución</th>
            <td>{{info.executionPath}}</td>
          </tr>
          <tr>
            <th>Process id</th>
            <td>{{info.processId}}</td>
          </tr>
          <tr>
            <th>Carpeta del proyecto</th>
            <td>{{info.projectFolder}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>