
{{#if messages}}
  <div class="table-responsive">
    <table>
      {{#each messages}}
        <tr>
          <td>
            <img src={{this.author.avatar}} style="width: 30px; height: 30px;" />
            <b style="color:blue">{{this.author.id}}</b>
            [<span style="color:brown">{{this.date}}</span>]:
            <i style="color:green">{{this.text}}</i>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
{{else}}
  <figure class="text-center text-secondary">
    <h4>Todavía no hay mensajes.</h4>
  </figure>
{{/if}}
<br />